*{
    outline: 1px solid;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #005166;
    
}

/* -----------------------BODY畫面結束---------------------- */
#preloading {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: #FF7200;
    z-index: 20;
}

#status {
    position: fixed;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.icon-white{
    animation: loading 2.5s ease infinite;
}
@keyframes loading {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);

    }
}


/* -----------------------LOADING畫面結束---------------------- */
nav {
    width: 100%;
    height: 100px;
    background-color: #005166;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 10px #666;
    transition: .5s;
}

.links {
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: azure;
    /* border: 3px solid red; */
    margin: auto;
    font-family: Impact;
    font-size: 1.2rem;
    line-height: 100px;
    text-decoration: none;
}

.links a:hover {
    color: #FF7200;
    transition: .5s;
}

.img-wrap {
    height: 80px;
    width: 80px;
    line-height: 70px;
    transition: 0.5s;
}

.icon-svg {
    width: 70px;
}

svg {
    transition: .5s;
}

.hidden {
    transform: translateY(-100px);
}

/* -----------------------NAV結束---------------------- */
.mq-video {
    /* border: 3px solid red; */
    height: calc(100% - 100px);
    background-color: #000;
}

.video {
    height: calc(100vh - 100px);
    /* border: 3px solid red; */
    margin-top: 100px;
    padding: 10px auto;
}

.src p {
    text-align: center;
    color: #888;
}

/* -----------------------影片結束---------------------- */
.about {
    margin: 0 auto 2.5rem;
    position: relative;
    padding: 3rem 0;
    background-color: azure;
}
@media screen and (min-width:720px) {
    .about{
        background: url(./images/半透明.png) right bottom / 10% no-repeat, url(./images/半透明.png) right top / 10% no-repeat;
        background-color: azure;
    }
    
}
.about h3,.about p{
    color: #005166;
}
.about h4{
    color: #ff7300;
}
.about .row {
    align-items: center;
}
.about-img {
    margin: 30px auto 0;
    transition: .5s;
}

img {
    width: 100%;
    height: auto;

}

.first {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    background: url(./images/Q2.jpg) center center / cover;

}

@media screen and (min-width:720px) {
    .first:hover {
        width: 700px;
        border-radius: 8px;
        height: 350px;
        background: url(./images/Q2.jpg) center center / cover;
    }
}

.second-test {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    background: url(./images/Q3.jpg) center center / cover;
    overflow: hidden;
    transform-origin: 100% 100%;
    transition: .5s;
    margin: 0 auto;
}

/* 第二張圖爆版了QQ */
@media screen and (min-width:720px) {
    .second:hover {
        width: 700px;
        overflow: hidden;
        border-radius: 8px;
        height: 350px;
        background: url(./images/Q3.jpg) center center / cover;
        border: 3px solid red;
        transform-origin: 100% 100%;
        transform: translateX(-350px);
    }

}

.third {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    background: url(./images/Q4.png) center center / cover;
    overflow: hidden;
}

@media screen and (min-width:720px) {
    .third:hover {
        width: 700px;
        border-radius: 8px;
        height: 350px;
        background: url(./images/Q4.png) center center / cover;

    }
}

.years {
    margin-top: 30px;
}

.years h4 {
    font-family: Impact;
    font-size: 4rem;
    text-align: center;
    /* color: #FF7200; */
}

.about-text {
    margin: 30px auto;

}

.bg-test {
    position: absolute;
    top: 0;
    background-attachment: fixed;
    opacity: .3;
    z-index: -1;
    /* width: 100%;
    height: auto;
    background: url(./images/BG.png) center center / cover; */
}

/* 試著做做看視差捲動 */
/* .test .icon-test{
    position: absolute;
    top: 100px;
    right: 50%;
    font-size: 0.5rem;
} */

/* -----------------------ABOUT結束---------------------- */
.design{
    position: relative;
    background-color: #005166;
    color: azure;
    margin: 2.5rem auto;
}
h3 {
    font-family: Impact;
    font-size: 5rem;
    color: #ff7300;
}

.d-img-wrap {
    max-width: 980px;
    max-height: 653px;
    overflow: hidden;
    border-radius: 8px;
    /* outline: 1px solid red; */
    margin: 0 auto;
    /* position: relative; */
}

ul.train {
    width: 400%;
    transition: 1s;

}
/* @media screen and (max-width:720px){
    .d-img-wrap{
        transform: translateX(-0px);
        scroll-snap-type: x mandatory;
        overflow-x: auto;
    }
    
    .train li {
        scroll-snap-align: start;
    }
    
} */
.btn-group {
    /* border: 3px solid red; */
    /* position: absolute; */
    justify-content: space-between;
    margin: 0 auto;
    transform: translateY(-50vh);
    /* transform: translateX(1000%); */
}
.btn-group .btn i{
    color: rgb(229, 255, 255);
    font-size: 3rem;
}
.design-test-img img{
    margin-top: 15px;
    border-radius: 8px;
}
.mb-text{
    padding: 8px;
}
.design-text{
    max-width: 980px;
    max-height: 653px;
    overflow: hidden;
    margin: 10px auto;
}
.design-text li{
    max-width: 980px;
    max-height: 653px;
}
.design-text h5,.design-text p{
    padding: 5px 20px;
    margin: 0 auto;
}
/* .bg-clothes{
    z-index: -1;
    transition: .5s;
} */
/* .clothes{
    width: 300px;
    position: absolute;
    bottom: 10%;
    left: 1%;
    animation: model1 2s ease infinite;
} */
/* @keyframes model1 {
    0%,100%{
            transform: rotate(-5deg);
        
    }
    50%{
            transform: rotate(0deg);
    }
} */

/* -----------------------DESIGN結束---------------------- */

.make-up{
    width: 100%;
    background: url(./images/landing-bg.jpeg) center center / cover;
    background-attachment: fixed;
    padding: 2.5rem 0;
}
.make-up h3{
    color: #ff7300;
}
.product{
    flex-direction: column;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 8px;
}

.powder{
    width: 270px;
}
.eyebrow{
    width: 270px;
}
.eyeline{
    width: 270px;
}
.eyeshadow{
    width: 270px;
}
.make-up p{
    text-align: center;
}
.product:hover .powder,.product:hover .eyebrow,.product:hover .eyeline,.product:hover .eyeshadow{
    animation: swing 1.2s ease infinite;
    transition: .5s;
}
@keyframes swing {
    0%,100%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }
}
/* -----------------------MAKE UP結束---------------------- */
.store{
    width: 100%;
    /* height: 600px; */
    /* background: url(./images/eyeshadow_pen1.jpeg) center center / cover; */
    /* background-attachment: fixed; */
    padding: 2.5rem 0 5rem;
    margin: 0 auto;
}
.store h3{
    color: azure;
}
.info-text{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-text h5,.info-text span{
    color: #ff7300;
}
.info-text p{
    color: azure;
}
/* .map iframe{
    width: 400px;
    height: 350px;
} */
@media screen and (min-width:720px) {
    .store{
        background: url(./images/白色.png) right bottom / 10% no-repeat;
        /* background-color: azure; */
    }
    
}
/* .store-btn{
    flex-direction: column;
    letter-spacing: 1px;
    margin: 30px auto;
    width: 300px;
    
}
.store-btn .btn{
    margin: 20px auto;
    padding: 15px 50px;
    background-color: rgba(255, 255, 255, 0.666);

}
.store a{
    font-size: 1.2rem;
    color: #005166;
    text-decoration: none;
}
.store i{
    font-size: 2.5rem;
}
.store-btn .btn:hover{
    background-color: orange;
    transition: .5s;
} */
/* -----------------------STORE結束---------------------- */

.top-btn {
    width: 70px;
    position: fixed;
    bottom: 35px;
    right: 25px;
}
.top-btn a {
    text-decoration: none;
    font-family: Impact;
}

/* footer */
footer {
    height: 40px;
    background-color: #ff7300;
    text-align: center;
    line-height: 40px;
}

footer p {
    font-size: 0.5rem;
    /* color: azure; */
}